@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@layer base {
  :root {
    --theme-gradient-light: linear-gradient(
      to bottom right,
      #e0f7fa,
      #e3f2fd,
      #ede7f6,
      #fff3e0
    );
    --theme-gradient-dark: linear-gradient(
      to bottom right,
      #0f2027,
      #203a43,
      #2c5364
    );
  }
}

@custom-variant dark (&[data-theme="dark"] &);

body {
  @apply min-h-screen transition-colors duration-500;
  background-image: var(--theme-gradient-light);
}

[data-theme="dark"] body {
  background-image: var(--theme-gradient-dark);
}
body {
  font-family: "Poppins", sans-serif;
}
